<?php
/*+***********************************************************************************
 * The contents of this file are subject to the NCRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  NCRM Open Source
 * The Initial Developer of the Original Code is ncrm.
 * Portions created by ncrm are Copyright (C) ncrm.
 * All Rights Reserved.
 *************************************************************************************/


$previousBulkSaveMode = $NCRM_BULK_SAVE_MODE;
$NCRM_BULK_SAVE_MODE = true;

require_once  'includes/Loader.php';
require_once 'includes/runtime/Controller.php';
require_once 'includes/runtime/BaseModel.php';
require_once 'includes/runtime/Globals.php';
Import_Data_Action::runScheduledImport();

$NCRM_BULK_SAVE_MODE = $previousBulkSaveMode;

?>
